<div class="navbar">
  <div class="navbar__wrapper">
    <div class="app-logo">
      <img class="app-img" src="assets/images/cpu-logo.png">
      <div class="app-name">SimulateOS</div>
    </div>
    <!-- <a
      routerLink="/process-manager"
      mat-raised-button
      [ngClass]="{ navbar__button: isCurrentRoute('/process-manager') }"
    >
      Gerência de processos
    </a>
    <a
      routerLink="/cpu-manager"
      mat-raised-button
      [ngClass]="{ navbar__button: isCurrentRoute('/cpu-manager') }"
    >
      Gerência do processador
    </a> -->
  </div>
</div>
