@import "~@angular/material/theming";

.navbar {
    background-color: map_get($mat-blue, 500);

    &__wrapper {
        max-width: 1280px;
        margin: 0px auto;
        padding: 16px 0px;
        display: flex;
        gap: 16px;
    }

    &__button {
        background-color: map_get($mat-blue, 600);
        color: map_get($mat-blue, "contrast", 600);
    }
}

.app-logo {
    margin: 0 auto;
    text-align: center;
}

.app-img {
    width: 128px;
}

.app-name {
	color: #1f294c;
	font-size: 40px;
	line-height: normal;
	font-weight: bold;
    font-family: monospace;
}
