<div class="home-wrapper">
  <mat-toolbar color="primary">
     <mat-toolbar-row>
        <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" mat-button (click)="drawer.toggle()">
           <mat-icon>menu</mat-icon>
        </button>
        <span class="example-spacer"></span>
        <span class="spacer"></span>

        <a mat-button routerLink="/login">
          <mat-icon>logout</mat-icon> Sair
        </a>
     </mat-toolbar-row>
  </mat-toolbar>
  <mat-drawer-container class="example-container" autosize>
     <mat-drawer #drawer class="example-sidenav" mode="side">
      <div class="module-options">
          <a mat-button class="listing-heading-item" routerLink="/process-manager"><mat-icon>memory</mat-icon>  Escalonador de Processos</a>
          <a mat-button class="listing-heading-item" href="/cpu-manager" ><mat-icon>save</mat-icon> Gerenciador de memória</a>
          <a mat-button class="listing-heading-item" href="https://www.facom.ufu.br/~thiago/filesystem" ><mat-icon>folder_open</mat-icon> Sistemas de arquivos</a>
          <a mat-button class="listing-heading-item" href="https://www.facom.ufu.br/~thiago/deadlock/" ><mat-icon>view_list</mat-icon> Threads</a>
      </div>
     </mat-drawer>
  <div class="welcome-section">
   <div>
      Seja bem-vindo!
   </div>
  </div>

  </mat-drawer-container>
</div>