<div class="process-manager">
    <div class="process-manager__title">
        <h1>Gerência de processos</h1>

        <button
            [disabled]="!canCreateProcess()"
            mat-raised-button
            color="primary"
            (click)="createProcess()"
        >
            Criar processo 
        </button>
    </div>

    <div class="main-tables">
        <div class="main-table">
            <div class="executing-process">
                <mat-icon [ngStyle]="{ color: executingProcess?.color }"
                    >memory</mat-icon
                >
                <div>Execução</div>

                <div class="process-color-id">
                    <div
                        *ngIf="executingProcess"
                        class="process-color"
                        [ngStyle]="{
                            'background-color': executingProcess.color
                        }"
                    ></div>
                    <div>
                        <div class="process-manager__process-id">
                            {{ executingProcess ? executingProcess.id : "-" }}
                        </div>
                    </div>
                </div>
            </div>

            <table
                mat-table
                [dataSource]="readyProcesses$"
                class="process-manager__table"
            >
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>PID</th>
                    <td mat-cell *matCellDef="let process">
                        <div class="process-manager__flex-cell">
                            <div
                                class="process-manager__color"
                                [ngStyle]="{
                                    'background-color': process.color
                                }"
                            ></div>
                            <div>
                                <div class="process-manager__process-id">
                                    {{ process.id }}
                                </div>
                                <div class="process-manager__process-type">
                                    {{ getTypeName(process.type) }}
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="priority">
                    <th
                        style="text-align: center"
                        mat-header-cell
                        *matHeaderCellDef
                    >
                        Prioridade
                    </th>
                    <td
                        [ngStyle]="{
                            'background-color':
                                'rgba(0,0,0,' +
                                (process.priority * 0.03 + 0.03) +
                                ')'
                        }"
                        style="text-align: center"
                        mat-cell
                        *matCellDef="let process"
                    >
                        {{ process.priority }}
                    </td>
                </ng-container>

                <ng-container matColumnDef="cpuTime">
                    <th
                        style="text-align: center"
                        mat-header-cell
                        *matHeaderCellDef
                    >
                        Tempo de CPU
                    </th>
                    <td
                        style="text-align: center"
                        mat-cell
                        *matCellDef="let process"
                    >
                        {{ process.cpuTime }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                    class="process-row"
                    (click)="editProcess(row)"
                    mat-row
                    *matRowDef="let row; columns: displayedColumns"
                ></tr>
            </table>
        </div>

        <div class="main-table-division">&nbsp;</div>

        <div class="main-table">
            <div class="executing-process">
                <mat-icon [ngStyle]="{ color: ioProcess?.color }"
                    >keyboard</mat-icon
                >
                <div>I/O</div>

                <div class="process-color-id">
                    <div
                        *ngIf="ioProcess"
                        class="process-color"
                        [ngStyle]="{
                            'background-color': ioProcess.color
                        }"
                    ></div>
                    <div>
                        <div class="process-manager__process-id">
                            {{ ioProcess ? ioProcess.id : "-" }}
                        </div>
                    </div>
                </div>
            </div>

            <table
                mat-table
                [dataSource]="iOProcesses$"
                class="process-manager__table"
            >
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef>PID</th>
                    <td mat-cell *matCellDef="let process">
                        <div class="process-manager__flex-cell">
                            <div
                                class="process-manager__color"
                                [ngStyle]="{
                                    'background-color': process.color
                                }"
                            ></div>
                            <div>
                                <div class="process-manager__process-id">
                                    {{ process.id }}
                                </div>
                                <div class="process-manager__process-type">
                                    {{ getTypeName(process.type) }}
                                </div>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <!-- <ng-container matColumnDef="priority">
                    <th
                        style="text-align: center"
                        mat-header-cell
                        *matHeaderCellDef
                    >
                        Prioridade
                    </th>
                    <td
                        style="
                            background-color: rgba(255, 0, 0, 0.1);
                            text-align: center;
                        "
                        mat-cell
                        *matCellDef="let process"
                    >
                        {{ process.priority }}
                    </td>
                </ng-container> -->

                <ng-container matColumnDef="cpuTime">
                    <th
                        style="text-align: center"
                        mat-header-cell
                        *matHeaderCellDef
                    >
                        Tempo de CPU
                    </th>
                    <td
                        style="text-align: center"
                        mat-cell
                        *matCellDef="let process"
                    >
                        {{ process.cpuTime }}
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumnsIO"></tr>
                <tr
                    class="process-row"
                    (click)="editProcess(row)"
                    mat-row
                    *matRowDef="let row; columns: displayedColumnsIO"
                ></tr>
            </table>
        </div>
    </div>

    <table
        mat-table
        [dataSource]="suspendedProcesses$"
        class="process-manager__table"
    >
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef>PID</th>
            <td mat-cell *matCellDef="let process">
                <div class="process-manager__flex-cell">
                    <div
                        class="process-manager__color"
                        [ngStyle]="{
                            'background-color': process.color
                        }"
                    ></div>
                    <div>
                        <div class="process-manager__process-id">
                            {{ process.id }}
                        </div>
                        <div class="process-manager__process-type">
                            {{ getTypeName(process.type) }}
                        </div>
                    </div>
                </div>
            </td>
        </ng-container>

        <ng-container matColumnDef="priority">
            <th style="text-align: center" mat-header-cell *matHeaderCellDef>
                Prioridade
            </th>
            <td
                [ngStyle]="{
                    'background-color':
                        'rgba(0,0,0,' + (process.priority * 0.03 + 0.03) + ')'
                }"
                style="text-align: center"
                mat-cell
                *matCellDef="let process"
            >
                {{ process.priority }}
            </td>
        </ng-container>

        <ng-container matColumnDef="cpuTime">
            <th style="text-align: center" mat-header-cell *matHeaderCellDef>
                Tempo de CPU
            </th>
            <td style="text-align: center" mat-cell *matCellDef="let process">
                {{ process.cpuTime }}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
            class="process-row"
            (click)="editProcess(row)"
            mat-row
            *matRowDef="let row; columns: displayedColumns"
        ></tr>
    </table>
</div>
