html,
body {
  height: 100%;
}
body {
  margin: 0;
  min-height: 100vh;
  background: #e2e2e2;
}

.login-wrapper {
  height: 100%;
}

.positronx {
  text-decoration: none;
  color: #ffffff;
}

.box {
  display: flex;
  flex-direction: column;
  top: 6rem;
  opacity: 1;
  padding: 2rem;
  width: 100%;
  background: #fff;
  border-radius: 10px;
  max-width: 16rem;
}

.login-box {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-wrapper .example-form {
  min-width: 100%;
  max-width: 300px;
  width: 100%;
}
.login-wrapper .example-full-width,
.login-wrapper .btn-block {
  width: 100%;
}

.login-wrapper mat-card-header {
  text-align: center;
  width: 100%;
  display: block;
  font-weight: 700;
}
.login-wrapper mat-card-header mat-card-title {
  display: flex;
  top: 10px;
  font-size: 20px;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: stretch;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  margin: 0
}

.login-wrapper .mat-stroked-button {
  border: 1px solid currentColor;
  line-height: 54px;
  background: #FFF7FA;
}