@import "~@angular/material/theming";

@import "./assets/styles/theme";

@include mat-core();
@include angular-material-theme($app-theme);

body {
	margin: 0;
}

.row {
	display: flex;
	flex-wrap: wrap;
	margin-right: -16px;
	margin-left: -16px;
}

.col {
	flex-basis: 0;
	flex-grow: 1;
	position: relative;
	width: 100%;
	padding-right: 16px;
	padding-left: 16px;
}

.spacer {
	flex: 1 1;
}

.mx-none {
	max-width: none !important;
}

.mh-none {
	max-height: none !important;
}
